.header{
    width: 100%;
    /*position: fixed;*/
    top: 0;
    left: 0;
    background-color: #C3FCF2;
    height: 70px;
    
}

.menu{
  float:left;
  height: 800px;
  background-color: black;
}

.c1{
  background-color: red;
}

.c2{
  background-color: yellow;

}

.c3{
  background-color: royalblue;
}

ul{
  list-style-type:none;
  margin:0;
  padding:0;
  width: 200px;
  background-color: aquamarine;
  text-transform: uppercase;
}

li>a{
  display:block;
  color:black;
  padding:8px 17px;
  text-decoration: none;

}

li>a:hover{
  background-color: #555;
  color:white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  margin-top: 20%;
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
  
}
.card-img{
  max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

.column2{
  margin-bottom: 10%;
  float: left;
  width: 25%;
  padding: 0 10px;
}
.titulo{
  padding-top: 5px;
  text-align: center;
  margin-left: 3%;
  font-family: 'Nunito', sans-serif;
  color: #001434;
}

body{
    padding: 0;
    margin: 0;
    background-color: #DAE4F4;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    
    
}


#contato{
  margin-top: 90%;
}
.contato2{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    padding-bottom: 40px;
    margin-left: 5%;
    margin-right: 5%;
    
    
}

.contat{
    float: right;
    margin-right:30% ;
    
    margin-bottom: 50%;
}

.cont{
    font-size: 100%;
    align-items: center;
    margin-left: 25%;
    margin-top: 1%;
    margin-bottom: 5%;
}

footer{
    margin-top: 50%;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    background: #009693;
    color: white;
    height: 100px;
    display: flex;
    align-items: center; 

}
.icones{
    
    padding-left: 30%;
}
 
.text{
    
  margin-bottom: 15%;
    font-family: 'Nunito', sans-serif;
}


a:link {
    text-decoration: none;
  }
 
  a:hover {
    color: #00BC85;
    text-decoration: none;
  }
  
  * {
    box-sizing: border-box;
  }
  

  

  .row {margin: 0 -5px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

 
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
